/** @format */

.featuredProduct {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	align-items: center;
	margin-bottom: 150px;
}

.featuredProduct h2 {
	text-decoration: unset;
	font-family: 'Roboto Condensed';
	font-weight: normal;
	font-style: normal;
	color: #bdbdbd;
	font-size: 80px;
	margin-top: 78px;
	margin-bottom: 33px;
	text-align: center;
}

.featuredProduct--List {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 1400px) {
	.featuredProduct {
		margin-bottom: 150px;
	}

	.featuredProduct h2 {
		font-size: 60px;
		margin-top: 78px;
		margin-bottom: 33px;
	}

}

@media (max-width: 1200px) {
	.featuredProduct {
		margin-bottom: 100px;
	}

	.featuredProduct h2 {
		font-size: 50px;
		margin-top: 78px;
		margin-bottom: 33px;
	}
    
}
@media (max-width: 960px) {
	.featuredProduct {
		margin-bottom: 80px;
	}

	.featuredProduct h2 {
		margin-top: 50px;
		margin-bottom: 33px;
	}
    
}
