.find {
    margin-left: 50px;
}

.find--body{
    justify-content: space-around;
    min-height: 100vh;
    border-radius: 10px;
    background: #0C0C0C;
    width: 60vw;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

